.welcome-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at 50% 50%, #FFB545 2%, #EB4D2A 100%), repeating-linear-gradient(0deg, #FFFFFF 0, #FFFFFF 1px, transparent 1px, transparent 4px);
}

.welcome-screen h1 {
  color: rgb(89, 77, 77);
  font-family: Inter, sans-serif;
  letter-spacing: -0.175rem;
  font-size: 3.625em;
  line-height: 1.125;
  font-weight: 600;
  text-align: center;
}

.welcome-screen p {
  color: rgb(89, 77, 77);
  font-family: Inter, sans-serif;
  letter-spacing: -0.175rem;
  font-size: 1.625em;
  line-height: 1.125;
  font-weight: 400;
  text-align: center;
}
